<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify Voice Control</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='templates/style.css') }}"/>
</head>
<body>
    <div class="container">
        <h1>🎵 Voice Control Spotify</h1>
        <button id="startListening">🎤 Start Listening</button>
        <p id="mic_status">Status: Ready</p>
    
        <div class="command_list">
            <h3>Available Voice Commands:</h3>
            <ul>
                <li><span>"Play"</span> - Resume playback</li>
                <li><span>"Pause"</span> -  Pause playback</li>
                <li><span>"Next"</span> - Skip to next track</li>
                <li><span>"Previous"</span> - Go to previous track</li>
            </ul>    
        </div>
    </div>

    <script src="/static/script.js"></script>
</body>
</html>